openapi: 3.1.0
info:
  title: WooryMeal API Server (Minimal)
  version: 2.0.0
servers:
  - url: https://woorymeal.hyunlab.dev

paths:
  /{region}/menu:
    get:
      summary: 전체 메뉴 조회
      operationId: getAllMenu
      parameters:
        - $ref: '#/components/parameters/RegionParam'
        - name: from
          in: query
          required: false
          schema:
            type: string
            format: date
          example: '2026-07-18'
          description: 이 날짜 이상인 식단만 조회합니다.
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
          example: 7
          description: 응답할 최대 식단 개수입니다.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/MenuItem'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'

    post:
      summary: 메뉴 추가
      operationId: addMenu
      parameters:
        - $ref: '#/components/parameters/RegionParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MenuCreateRequest'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessMessage'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'

  /{region}/menu/{date}:
    get:
      summary: 특정 날짜 메뉴 조회
      operationId: getMenuByDate
      parameters:
        - $ref: '#/components/parameters/RegionParam'
        - name: date
          in: path
          required: true
          schema:
            type: string
            format: date
          example: '2025-05-20'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MenuByDate'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'

    put:
      summary: 특정 날짜 메뉴 수정
      operationId: updateMenuByDate
      parameters:
        - $ref: '#/components/parameters/RegionParam'
        - name: date
          in: path
          required: true
          schema:
            type: string
            format: date
          example: '2025-05-20'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MenuUpdateRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessMessage'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'

    delete:
      summary: 특정 날짜 메뉴 삭제
      operationId: deleteMenuByDate
      parameters:
        - $ref: '#/components/parameters/RegionParam'
        - name: date
          in: path
          required: true
          schema:
            type: string
            format: date
          example: '2025-05-20'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessMessage'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'

components:
  parameters:
    RegionParam:
      name: region
      in: path
      required: true
      schema:
        $ref: '#/components/schemas/Region'
      example: yongin

    DateParam:
      name: date
      in: path
      required: true
      schema:
        type: string
        format: date
      example: '2025-05-20'

  schemas:
    Region:
      type: string
      enum: [yongin, pyeongtaek]

    MealPart:
      type: object
      required: [rice, soup, dishes, kimchi, plus_corner]
      properties:
        rice:
          type: array
          items:
            type: string
        soup:
          type: string
        dishes:
          type: array
          items:
            type: string
        kimchi:
          type: string
        plus_corner:
          type: array
          items:
            type: string

    Meals:
      type: object
      required: [lunch, dinner]
      properties:
        lunch:
          $ref: '#/components/schemas/MealPart'
        dinner:
          $ref: '#/components/schemas/MealPart'

    Order:
      type: array
      minItems: 3
      maxItems: 3
      uniqueItems: true
      items:
        type: string
        enum: ['1조', '2조', '3조']

    MenuItem:
      type: object
      required: [id, region, date, meals, order]
      properties:
        id:
          type: integer
        region:
          $ref: '#/components/schemas/Region'
        date:
          type: string
          format: date
        meals:
          $ref: '#/components/schemas/Meals'
        order:
          $ref: '#/components/schemas/Order'

    MenuByDate:
      type: object
      required: [region, date, meals, order]
      properties:
        region:
          $ref: '#/components/schemas/Region'
        date:
          type: string
          format: date
        meals:
          $ref: '#/components/schemas/Meals'
        order:
          $ref: '#/components/schemas/Order'

    MenuCreateRequest:
      type: object
      required: [date, meals, order]
      properties:
        date:
          type: string
          format: date
        meals:
          $ref: '#/components/schemas/Meals'
        order:
          $ref: '#/components/schemas/Order'

    MenuUpdateRequest:
      type: object
      required: [meals, order]
      properties:
        meals:
          $ref: '#/components/schemas/Meals'
        order:
          $ref: '#/components/schemas/Order'

    SuccessMessage:
      type: object
      required: [message, region]
      properties:
        message:
          type: string
        region:
          $ref: '#/components/schemas/Region'

    ErrorMessage:
      type: object
      required: [error]
      properties:
        error:
          type: string
